@font-face {
	font-family: LackRegular;
	src: url(lackregular.woff);
}
@font-face {
	font-family: LackLineRegular;
	src: url(lacklineregular.woff);
}
body {
	max-width: 640px;
	margin: auto;

	background-color: white;
	font-family: sans;
}

::selection {
	background: crimson;
	color: white;
}

div.header {
	padding-bottom: 1em;
	padding-top: 1em;

	border-bottom: 1px solid black;
	font-family: LackRegular, sans;
	font-size: 1.6em;
}
span.h-date {
	font-family: LackLine-Regular, sans;
}
div.content {
	padding-bottom: 1em;
	padding-top: 1em;

	letter-spacing: 1.5px;
	line-height: 1.44em;
}
span.title {
	font-family: Lack-Regular, sans;
	font-size: 1.25em;
}
p.permalink {
	display: inline-block;
	padding: 0.25em;
	border-left: 1px solid black;
}
span.permalink {
	color: crimson;
}
div.footer {
	text-align: right;
}

a {
	color: black;
	text-decoration: underline;
}
a.h-title {
	color: black;
	font-weight: bold;
}
a:hover {
	text-decoration: crimson underline;
	padding: 2px;
}


a.center-button {
  padding: 0.33em;
  font: 48px LackRegular, sans;
  border: 1px solid black;
  border-bottom: 3px double;
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
