/* fonts */
@font-face {
	font-family: 'Lack Regular';
	src: url('lackregular.woff'), local('lackregular.woff');
}
@font-face {
	font-family: 'Lack Line Regular';
	src: url('lacklineregular.woff'), local('lacklineregular.woff');
}

/* element bom & decoration */
body {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;

	background-color: white;
	font-family: 'Lack Regular', sans-serif;
}
p.permalink {
	display: inline-block;
	padding: 0.25em;
	border-left: 1px solid black;
	color: crimson;
}
a {
	color: black;
	text-decoration: underline;
}
a:hover {
	text-decoration: crimson underline;
	padding: 2px;
}
a.h-title {
	color: black;
	font-weight: bold;
}
a.center-button {
  padding: 0.33em;
  font: 48px 'Lack Regular', sans;
  border: 1px solid black;
  border-bottom: 3px double;
}
img {
  display: inline-block;
  margin: 0 auto;
  margin-top: 50vh;
  max-width: 95%;
  max-height: 75%;
  transform: translateY(-50%);
  vertical-align: top;
}
span.below {
  display: block;
  max-width: 7.5em;
  position: relative;
  bottom: 35vh;
  margin: 0 auto;
  padding: 0.5em;
  border-top: 1px solid crimson;
}
span.beside {
  text-align: left;
  display: inline-block;
  margin-top: 50vh;
  transform: translateY(-50%);
  padding: 0.5em;
  margin-left: 0.5em;
  border-left: 1px solid crimson;
}
/* scrolling */
.scroll {
  margin: 0 auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

div.scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: white white;
}

section.scroll {
  width: 1024px;
  max-width: 95vw;
  text-align: center;
  scroll-snap-align: start;
}

/* extra styling */

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

::selection {
	background: crimson;
	color: white;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}