/* fonts */
@font-face {
	font-family: LackRegular;
	src: url(lackregular.woff);
}
@font-face {
	font-family: LackLineRegular;
	src: url(lacklineregular.woff);
}

/* element bom & decoration */
body {
  overflow: hidden;

	background-color: white;
	font-family: sans;
}
span.title {
	font-family: LackRegular, sans;
	font-size: 1.25em;
}
p.permalink {
	display: inline-block;
	padding: 0.25em;
	border-left: 1px solid black;
}
span.permalink {
	color: crimson;
}
a {
	color: black;
	text-decoration: underline;
}
a.h-title {
	color: black;
	font-weight: bold;
}
a:hover {
	text-decoration: crimson underline;
	padding: 2px;
}
a.center-button {
  padding: 0.33em;
  font: 48px LackRegular, sans;
  border: 1px solid black;
  border-bottom: 3px double;
}

/* scrolling */

.scroll {
	margin: 0 auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-margin-top: 2em;
}

div.scroll{
  overflow-y: scroll;
}

.scroll section {
  margin-top: 1em;
  max-width: 1024px;
  scroll-snap-align: start;
}

/* extra styling */

img {
  max-width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

::selection {
	background: crimson;
	color: white;
}

