/* fonts */
@font-face {
	font-family: 'Lack Regular';
	src: url('lack-regular.woff');
}
@font-face {
	font-family: 'Lack Line Regular';
	src: url('lack-line-regular.woff');
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('poppins-regular.ttf');
}

/* element bom */
body {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}
div.menu {
  position: fixed;
  top: 0px;
  right: 1em;
  z-index: 100;
}
div.pageheader {
  display: block;
  position: fixed;
  margin: auto;
}
img {
  display: block;
  max-height: 75vh;
  max-width: 95vw;
}
img.narrow {
  max-width: 55vw;
}
li.menu {
  display: inline;
}

/* element decoration */
a {
	color: black;
	text-decoration: underline;
}
a:hover {
	text-decoration: crimson underline;
}
body {
  background-color: white;
  font-family: 'Poppins Regular', sans-serif;
}
div.pageheader {
  background-color: white;
  font-family: 'Lack Regular', serif;
  font-size: 48px;
}
ul.menu {
  list-style-type: none;
}

/* scrolling */
.scroll {
  margin: 0 auto;
  height: 96vh;
  scroll-snap-type: y mandatory;
}
div.scroll{
  margin-top: -4vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: white white;
}
table.scroll {
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  scroll-snap-align: start;
  text-align: center;
  border-collapse: collapse;
}

/* extra styling */
.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
::selection {
	background: crimson;
	color: white;
}
::-webkit-scrollbar {
  width: 0px;
  display: none;
}
