/* fonts */
@font-face {
	font-family: 'Lack Regular';
	src: url('lack-regular.woff');
}
@font-face {
  font-family: 'Poppins Regular';
  src: url('poppins-regular.ttf');
}

/* element bom */
article {
  padding-bottom: 6em;
}
body {
  margin: 0 auto;
  padding: 0;
}
div.header {
  position: fixed;
  width: 100vw;
  margin: 0;
  top: 0;
  z-index: 100;
}
div.content {
  position: relative;
  max-width: 36em;
  margin: auto;
  top: 2em;
}
img {
  display: block;
  max-height: 75vh;
  max-width: 95vw;
}
img.narrow {
  max-width: 55vw;
}
span.title, span.info, span.menu {
  display: inline-block;
  margin: 1em;
}
span.info {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
span.menu {
  float: right;
}
li.menu, ul.menu {
  display: inline;
}

/* element decoration */
a {
	color: black;
	text-decoration: underline;
}
a:hover {
	text-decoration: crimson underline;
}
body {
  background-color: white;
  font-family: 'Poppins Regular', sans-serif;
}
div.header {
  background-color: white;
}
h1, h2, h3 {
  font-family: 'Lack Regular'
}
h1 {
  margin-left: 1em;
  font-size: 18pt;
}
h2 {
  margin-left: 0.5em;
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
span.title {
  font-family: 'Lack Regular';
	text-decoration: crimson underline;
}
ul.menu {
  list-style-type: none;
}

/* scrolling */
.scroll {
  margin: 0 auto;
  height: 96vh;
  scroll-snap-type: y mandatory;
}
div.scroll{
  margin-top: 0vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: white white;
}
table.scroll {
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%);
  scroll-snap-align: start;
  text-align: center;
  border-collapse: collapse;
}

/* extra styling */
.copyleft {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
::selection {
	background: crimson;
	color: white;
}
::-webkit-scrollbar {
  width: 0px;
  display: none;
}
